body {
    width: 75%;
    margin: 0 auto;
}
img {
    text-align: center;
    margin: 0 auto;
    width: 100%;
}
figure {
    margin-top: 500px;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
    border: 5px solid black;
    transition: all .4s ease-in;
}
figure img {
    transition: all .4s ease-in;
}
figure:hover img {
    transform: scale(1.2);
}
figure:hover {
    transform: scale(1.2);
}